<% provide(:title, 'Home') %>

<div class="statement">
      <h2 class="statement">Testing Testing 1-2-3</h2>
      <p class="statement">Testing OMG she is the nastiest person alive. blah blah blah blah blah i hateliving here. i will leave behind the $700. Dont care. She can keep it. Whatever.</p>  
    </div>

<div class="img-wrapper">
	 <div class="img">
	 	<img src="/sketch.jpg">
	 </div>
	 <div class="img">
	 	<img src="/sketch.jpg">
	 </div>
	 <div class="img">
	 	<img src="/sketch.jpg">
	 </div>
	 <div class="img">
	 	<img src="/sketch.jpg">
	 </div>
</div>
