body {
  background-image:url('con.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}


/* Beginning of the navbar-brand */

.navbar-brand {
  background-image: linear-gradient(#222222, #111111);
  background-repeat: repeat no-repeat;
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  border-color:#252525;
  margin-left: 15px;
  margin-top: 20px;
  font-family: 'Unica One', cursive;
  font-size: 24px;
  letter-spacing: -1px;
}
.navbar-brand a {
  color: white;
  font-family: 'Unica One', cursive;
  margin: 15px;
  text-decoration: none;
}

.navbar-brand a:hover {
  color: lightblue;
}
/* End of the navbar-brand */

/* Beginning of the navbar-brand */

.navbar-links {
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  border-color:#252525;
  margin-left: 225px;
  margin-top: -45px;
  font-family: 'Unica One', cursive;
  font-size: 18px;
  position: relative;
  text-shadow:rgba(0, 0, 0, 0.4) 0 1px 1px;
}
.navbar-links a {
  color: white;
  font-family: 'Unica One', cursive;
  margin: 15px;
  text-decoration: none;
}

.navbar-links a:hover {
  color: black;
}
/* End of the navbar */

/* Front page statement */

.statement {
  color: white;
  text-shadow:rgba(0, 0, 0, 0.4) 0 1px 1px;
  margin-top: 150px;
  font-size:30px;
  font-weight:200;
  line-height:30px;
  font-family: arial;
}
.statement a {
  text-decoration: none;
}

.copyrights {
  position: relative;
  margin-top: 30px;
  margin-left: 40px;
  margin-right: 40px;
  border-top: .1em solid grey;
  padding-top: 15px;
  padding-left: 0px;
  text-align: left;
  font-family: 'Unica One', cursive;
  font-size: 15px;
  color: grey;

}


/* Beginning bottom of the page */
.footer {
  background-image: linear-gradient(#222222, #111111);
  background-repeat: repeat no-repeat;
  margin-left: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer h4 {
  color: grey;
  margin-bottom: 10px;
  font-family: 'Unica One', cursive;
}
.footer a {
  text-decoration: none;
  color: grey;
  display: inline-block;
  padding: 8px;
  font-family: 'Unica One', cursive;
}
.footer a:hover {
  color: white;
}

.footer li{
  list-style: none;
}

.img-circle {
  border-bottom-left-radius:500px;
  border-bottom-right-radius:500px;
  border-top-left-radius:500px;
  border-top-right-radius:500px;
  /*background-image: url('sketch.jpg')*/
  background-color: white;
  margin: 20px;
  }